# Data Collection

In [40]:
from yahoo_fin import stock_info as si
import datetime as dt
import pandas_datareader as pdr
import pandas as pd

In [44]:
ticker = 'TSLA'
start_date = dt.datetime(2010, 1, 1)
end_date = dt.datetime(2023, 1, 1)

In [47]:
stock_data = si.get_quote_table(ticker)
stock_data

/Users/matteopancini/opt/anaconda3/envs/notensor/lib/python3.9/site-packages/yahoo_fin/stock_info.py:295: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = tables[0].append(tables[1])
/Users/matteopancini/opt/anaconda3/envs/notensor/lib/python3.9/site-packages/yahoo_fin/stock_info.py:302: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append(quote_price)

{'1y Target Est': 241.68,
 '52 Week Range': '101.81 - 299.29',
 'Ask': '244.00 x 1300',
 'Avg. Volume': 118791935.0,
 'Beta (5Y Monthly)': 2.09,
 'Bid': '0.00 x 900',
 "Day's Range": '244.48 - 257.79',
 'EPS (TTM)': 3.43,
 'Earnings Date': 'Oct 17, 2023 - Oct 23, 2023',
 'Ex-Dividend Date': nan,
 'Forward Dividend & Yield': 'N/A (N/A)',
 'Market Cap': '777.247B',
 'Open': 257.4,
 'PE Ratio (TTM)': 71.39,
 'Previous Close': 255.7,
 'Quote Price': 244.8800048828125,
 'Volume': 127275430.0}

In [48]:
historical_data = si.get_data(ticker)
historical_data

,open,high,low,close,adjclose,volume,ticker
2010-06-29,1.266667,1.666667,1.169333,1.592667,1.592667,281494500,TSLA
2010-06-30,1.719333,2.028000,1.553333,1.588667,1.588667,257806500,TSLA
2010-07-01,1.666667,1.728000,1.351333,1.464000,1.464000,123282000,TSLA
2010-07-02,1.533333,1.540000,1.247333,1.280000,1.280000,77097000,TSLA
2010-07-06,1.333333,1.333333,1.055333,1.074000,1.074000,103003500,TSLA
...,...,...,...,...,...,...,...
2023-09-18,271.160004,271.440002,263.760010,265.279999,265.279999,101543300,TSLA
2023-09-19,264.350006,267.850006,261.200012,266.500000,266.500000,103704000,TSLA
2023-09-20,267.040009,273.929993,262.459991,262.589996,262.589996,122514600,TSLA
2023-09-21,257.850006,260.859985,254.210007,255.699997,255.699997,119531000,TSLA
2023-09-22,257.399994,257.790009,244.479996,244.880005,244.880005,127024300,TSLA

In [49]:
# List of symbols you're interested in
fred_symbols = ['UNRATE', 'GDP', 'FEDFUNDS', 'CPIAUCNS', 'M2', 'DGS10', 'PCE', 'T10Y2Y', 'USROA', 'USROE', 'WTISPLC', 'HOUST', 'INDPRO', 'PAYEMS', 'BAMLH0A0HYM2', 'GS10', 'BASE', 'RIFSPPFAAD01NB', 'EXUSEU', 'NETEXP']

In [50]:
fred_df = pdr.get_data_fred(fred_symbols, start_date, end_date)
fred_df

,UNRATE,GDP,FEDFUNDS,CPIAUCNS,M2,DGS10,PCE,T10Y2Y,USROA,USROE,WTISPLC,HOUST,INDPRO,PAYEMS,BAMLH0A0HYM2,GS10,BASE,RIFSPPFAAD01NB,EXUSEU,NETEXP
DATE,,,,,,,,,,,,,,,,,,,,
2010-01-01,9.8,14764.611,0.11,216.687,NaN,NaN,10056.1,NaN,0.49,4.8,78.22,614.0,89.1911,129798.0,NaN,3.73,NaN,NaN,1.4266,-509.192
2010-01-04,NaN,NaN,NaN,NaN,8451.4,3.85,NaN,2.76,NaN,NaN,NaN,NaN,NaN,NaN,6.34,NaN,NaN,0.13,NaN,NaN
2010-01-05,NaN,NaN,NaN,NaN,NaN,3.77,NaN,2.76,NaN,NaN,NaN,NaN,NaN,NaN,6.30,NaN,NaN,0.12,NaN,NaN
2010-01-06,NaN,NaN,NaN,NaN,NaN,3.85,NaN,2.84,NaN,NaN,NaN,NaN,NaN,NaN,6.17,NaN,NaN,0.10,NaN,NaN
2010-01-07,NaN,NaN,NaN,NaN,NaN,3.85,NaN,2.82,NaN,NaN,NaN,NaN,NaN,NaN,6.03,NaN,NaN,0.10,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-28,NaN,NaN,NaN,NaN,NaN,3.88,NaN,-0.43,NaN,NaN,NaN,NaN,NaN,NaN,4.77,NaN,NaN,4.30,NaN,NaN
2022-12-29,NaN,NaN,NaN,NaN,NaN,3.83,NaN,-0.51,NaN,NaN,NaN,NaN,NaN,NaN,4.81,NaN,NaN,4.30,NaN,NaN
2022-12-30,NaN,NaN,NaN,NaN,NaN,3.88,NaN,-0.53,NaN,NaN,NaN,NaN,NaN,NaN,4.79,NaN,NaN,4.29,NaN,NaN
2022-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.81,NaN,NaN,NaN,NaN,NaN
2023-01-01,3.4,26529.774,4.33,299.170,NaN,NaN,18076.6,NaN,NaN,NaN,78.12,1340.0,102.5478,155007.0,NaN,3.53,NaN,NaN,1.0777,-802.343